
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
  width: 700px;
  border: 2px solid black
}

.grid div {
  border: 1px solid lightgrey;
  align-content: center;
  flex-grow: 1;
  height: 3%;
  width: 3%;
}

.snake-head {
    background-color: pink;
    border: 1px solid red 
  }

  .snake-food {
      background-color: lightgreen;
      border: 1px solid green;
    }
  